body {
  font-family: "Helvetica";
  font-size: 14px;
  text-align: center;
}

.hero {
  background-image: url("https://github.com/claraming/broadway/blob/master/resources/images/the-flatiron-building.png?raw=true");
  background-repeat: no-repeat;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.nav {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}
